In [ ]:
# !pip install pandas # oruvela pandas install pannalena indha command use paniti install panikalam

In [ ]:
import numpy as np
import pandas as pd

Pandas = Work with tables (rows & columns) easily

Used for:

CSV / Excel data

Cleaning data

ML preprocessing

Analysis

| NumPy           | Pandas        |
| --------------- | ------------- |
| Arrays          | Tables        |
| Fast math       | Data handling |
| No column names | Column names  |
| Fixed type      | Mixed types   |

In [ ]:
# pandas use panti, table mari structures namalala manipulate panamudium ,
# columns names , rows ku names irukum

Series (1D – single column)

-> single column mattume irukum indha table la , idhuku peru dha series

In [ ]:
s = pd.Series([10, 20, 30])
print(s)  # orey oru column , adhula irukara elements 10,20,30 , left pakathula irukardhi column ille , index values (0, 1,2) of elements

0    10
1    20
2    30
dtype: int64

2D Table

DataFrame nu soluvanga

rows and columns with column names and row names irukum

Dataframes create pandradhuku naraya ways iriki, sila pakalam ipo

1st way of creating dataframe

pudhu data use paniti dataframe create panaporom

In [ ]:
chem_df =  pd.read_csv("https://raw.githubusercontent.com/rames4498/workshop_tasks/refs/heads/master/chemistry_curated-solubility-dataset.csv")
chem_df

,ID,Name,InChI,InChIKey,SMILES,Solubility,SD,Ocurrences,Group,MolWt,...,NumRotatableBonds,NumValenceElectrons,NumAromaticRings,NumSaturatedRings,NumAliphaticRings,RingCount,TPSA,LabuteASA,BalabanJ,BertzCT
0,A-3,"N,N,N-trimethyloctadecan-1-aminium bromide",InChI=1S/C21H46N.BrH/c1-5-6-7-8-9-10-11-12-13-...,SZEMGTQCPRNXEG-UHFFFAOYSA-M,[Br-].CCCCCCCCCCCCCCCCCC[N+](C)(C)C,-3.616127,0.000000,1,G1,392.510,...,17.0,142.0,0.0,0.0,0.0,0.0,0.00,158.520601,0.000000e+00,210.377334
1,A-4,Benzo[cd]indol-2(1H)-one,InChI=1S/C11H7NO/c13-11-8-5-1-3-7-4-2-6-9(12-1...,GPYLCFQEKPUWLD-UHFFFAOYSA-N,O=C1Nc2cccc3cccc1c23,-3.254767,0.000000,1,G1,169.183,...,0.0,62.0,2.0,0.0,1.0,3.0,29.10,75.183563,2.582996e+00,511.229248
2,A-5,4-chlorobenzaldehyde,InChI=1S/C7H5ClO/c8-7-3-1-6(5-9)2-4-7/h1-5H,AVPYQKSLYISFPO-UHFFFAOYSA-N,Clc1ccc(C=O)cc1,-2.177078,0.000000,1,G1,140.569,...,1.0,46.0,1.0,0.0,0.0,1.0,17.07,58.261134,3.009782e+00,202.661065
3,A-8,"zinc bis[2-hydroxy-3,5-bis(1-phenylethyl)benzo...",InChI=1S/2C23H22O3.Zn/c2*1-15(17-9-5-3-6-10-17...,XTUPUYCJWKHGSW-UHFFFAOYSA-L,[Zn++].CC(c1ccccc1)c2cc(C(C)c3ccccc3)c(O)c(c2)...,-3.924409,0.000000,1,G1,756.226,...,10.0,264.0,6.0,0.0,0.0,6.0,120.72,323.755434,2.322963e-07,1964.648666
4,A-9,4-({4-[bis(oxiran-2-ylmethyl)amino]phenyl}meth...,InChI=1S/C25H30N2O4/c1-5-20(26(10-22-14-28-22)...,FAUAZXVRLVIARB-UHFFFAOYSA-N,C1OC1CN(CC2CO2)c3ccc(Cc4ccc(cc4)N(CC5CO5)CC6CO...,-4.662065,0.000000,1,G1,422.525,...,12.0,164.0,2.0,4.0,4.0,6.0,56.60,183.183268,1.084427e+00,769.899934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9977,I-84,tetracaine,InChI=1S/C15H24N2O2/c1-4-5-10-16-14-8-6-13(7-9...,GKCBAIGFKIBETG-UHFFFAOYSA-N,C(c1ccc(cc1)NCCCC)(=O)OCCN(C)C,-3.010000,0.000000,1,G1,264.369,...,8.0,106.0,1.0,0.0,0.0,1.0,41.57,115.300645,2.394548e+00,374.236893
9978,I-85,tetracycline,InChI=1S/C22H24N2O8/c1-21(31)8-5-4-6-11(25)12(...,OFVLGDICTFRJMM-WESIUVDSSA-N,OC1=C(C(C2=C(O)[C@@](C(C(C(N)=O)=C(O)[C@H]3N(C...,-2.930000,0.000000,1,G1,444.440,...,2.0,170.0,1.0,0.0,3.0,4.0,181.62,182.429237,2.047922e+00,1148.584975
9979,I-86,thymol,InChI=1S/C10H14O/c1-7(2)9-5-4-8(3)6-10(9)11/h4...,MGSRCZKZVOBKFT-UHFFFAOYSA-N,c1(cc(ccc1C(C)C)C)O,-2.190000,0.019222,3,G5,150.221,...,1.0,60.0,1.0,0.0,0.0,1.0,20.23,67.685405,3.092720e+00,251.049732
9980,I-93,verapamil,"InChI=1S/C27H38N2O4/c1-20(2)27(19-28,22-10-12-...",SGTNSNPWRIOYBX-UHFFFAOYSA-N,COc1ccc(CCN(C)CCCC(C#N)(C(C)C)c2ccc(OC)c(OC)c2...,-3.980000,0.000000,1,G1,454.611,...,13.0,180.0,2.0,0.0,0.0,2.0,63.95,198.569223,2.023333e+00,938.203977
9981,I-94,warfarin,InChI=1S/C19H16O4/c1-12(20)11-15(13-7-3-2-4-8-...,PJVWKTKQMONHTI-UHFFFAOYSA-N,CC(=O)CC(c1ccccc1)c1c(O)c2ccccc2oc1=O,-4.780000,0.450506,3,G5,308.333,...,4.0,116.0,3.0,0.0,0.0,3.0,67.51,132.552025,2.258072e+00,909.550973

In [ ]:
data = {
    "Name": ["Ram", "Sam", "Bahubali", "RRR","Samantha","Ramesh"],
    "Age": [25, 30, 22,67,89,78],
    "Salary": [50000, 60000, 45000, 99000,89000,25000]
}

# inge Name , Age , Salary moonu column names ,

#pd.DataFrame use paniti mela irukara object , oru data object table ah mathamudium
df = pd.DataFrame(data)
print(df) # inge df andradhu namaloda dataframe name

# output la oru table create ayindhirkum

       Name  Age  Salary
0       Ram   25   50000
1       Sam   30   60000
2  Bahubali   22   45000
3       RRR   67   99000
4  Samantha   89   89000
5    Ramesh   78   25000

In [7]:
df["Age"]<50
df = pd.DataFrame(data)

NameError: name 'df' is not defined

In [8]:
dummy["Salary"] == dummy[Salary].min()

NameError: name 'dummy' is not defined

In [2]:
df[df["Age"]<50]

NameError: name 'df' is not defined

In [3]:
new_df["Salary"].min()

NameError: name 'new_df' is not defined

In [ ]:
df.head()      # first 5 rows mattume varum

       Name  Age  Salary
0       Ram   25   50000
1       Sam   30   60000
2  Bahubali   22   45000
3       RRR   67   99000
4  Samantha   89   89000

In [ ]:
df.head()
  Name	      Age	Salary
0	Ram       	25	50000
1	Sam       	30	60000
2	Bahubali  	22	45000
3	RRR       	67	99000
4	Samantha  	89	89000

SyntaxError: invalid syntax (ipython-input-2069534711.py, line 2)

In [ ]:
df.head(2)

  Name  Age  Salary
0  Ram   25   50000
1  Sam   30   60000

In [ ]:
df.tail()      # last 5 rows

       Name  Age  Salary
1       Sam   30   60000
2  Bahubali   22   45000
3       RRR   67   99000
4  Samantha   89   89000
5    Ramesh   78   25000

In [ ]:
df.tail(3) # last 3 rows

       Name  Age  Salary
3       RRR   67   99000
4  Samantha   89   89000
5    Ramesh   78   25000

In [ ]:
df.shape       # (rows, columns)
 # 6 rows, 3 columns

(6, 3)

In [ ]:
df.columns     # column names

Index(['Name', 'Age', 'Salary'], dtype='object')

In [ ]:
df.info()      # data types, dataframe pathi yella information info function nala kadikum

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Age     6 non-null      int64
 2   Salary  6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes

2nd way of creating dataframe

pudhu data use paniti dataframe create panaporom

In [ ]:
from numpy.random import randn
np.random.seed(103)    # nama ipo random decimal values 5 rows 5 colums use paniti oru dataframe create panaporom
                       # A B C D namaloda dataframe rows peru,,,, namaloda columns peru U V W X Y
dframe=pd.DataFrame(randn(5,5),['A','B','C','D','E'],['U','V','W','X','Y'])
dframe

          U         V         W         X         Y
A -1.249278 -0.260331  0.383793 -0.385461 -1.085137
B  2.327219  0.430793  0.432316 -0.980011 -0.631965
C  0.577442 -0.124758  0.978948  1.594922 -1.201945
D -1.376369  1.054346 -0.038853  0.680286  1.329175
E  1.283450 -1.758254  0.614306  1.516358 -0.195977

In [ ]:
dframe

          U         V         W         X         Y
A -1.249278 -0.260331  0.383793 -0.385461 -1.085137
B  2.327219  0.430793  0.432316 -0.980011 -0.631965
C  0.577442 -0.124758  0.978948  1.594922 -1.201945
D -1.376369  1.054346 -0.038853  0.680286  1.329175
E  1.283450 -1.758254  0.614306  1.516358 -0.195977

In [ ]:
dframe>0     # dframe andra dataframe la values greater than zero yengalam irukardho ange true nu varum

       U      V      W      X      Y
A  False  False   True  False  False
B   True   True   True  False  False
C   True  False   True   True  False
D  False   True  False   True   True
E   True  False   True   True  False

In [ ]:
dframe['X']>0    # X column la values greater than zero yengalam irukardho ange true nu varum

A    False
B    False
C     True
D     True
E     True
Name: X, dtype: bool

In [ ]:
dframe[dframe['X']>0]   # X column la yengalam grater than 0 irukardho andha whole dataframe varum

          U         V         W         X         Y
C  0.577442 -0.124758  0.978948  1.594922 -1.201945
D -1.376369  1.054346 -0.038853  0.680286  1.329175
E  1.283450 -1.758254  0.614306  1.516358 -0.195977

In [ ]:
dframe

          U         V         W         X         Y
A -1.249278 -0.260331  0.383793 -0.385461 -1.085137
B  2.327219  0.430793  0.432316 -0.980011 -0.631965
C  0.577442 -0.124758  0.978948  1.594922 -1.201945
D -1.376369  1.054346 -0.038853  0.680286  1.329175
E  1.283450 -1.758254  0.614306  1.516358 -0.195977

In [ ]:
dframe['X']+dframe['Y']   # rendu colums add pandrom

A   -1.470598
B   -1.611977
C    0.392977
D    2.009461
E    1.320381
dtype: float64

In [ ]:
dframe['new'] = dframe['X']+dframe['Y'] # X  and Y columns add paniti pudhu column "new" andra perala create panitom
dframe

          U         V         W         X         Y       new
A -1.249278 -0.260331  0.383793 -0.385461 -1.085137 -1.470598
B  2.327219  0.430793  0.432316 -0.980011 -0.631965 -1.611977
C  0.577442 -0.124758  0.978948  1.594922 -1.201945  0.392977
D -1.376369  1.054346 -0.038853  0.680286  1.329175  2.009461
E  1.283450 -1.758254  0.614306  1.516358 -0.195977  1.320381

In [ ]:
sherlock=dframe[dframe['U']>0]

In [ ]:
sherlock

          U         V         W         X         Y       new
B  2.327219  0.430793  0.432316 -0.980011 -0.631965 -1.611977
C  0.577442 -0.124758  0.978948  1.594922 -1.201945  0.392977
E  1.283450 -1.758254  0.614306  1.516358 -0.195977  1.320381

In [ ]:
sherlock['X']

B   -0.980011
C    1.594922
E    1.516358
Name: X, dtype: float64

In [ ]:
dframe[dframe['U']>0]['X']

B   -0.980011
C    1.594922
E    1.516358
Name: X, dtype: float64

In [ ]:
dframe[dframe['U']>0][['X','Y']]

          X         Y
B -0.980011 -0.631965
C  1.594922 -1.201945
E  1.516358 -0.195977

In [ ]:
dframe.reset_index()

  index         U         V         W         X         Y       new
0     A -1.249278 -0.260331  0.383793 -0.385461 -1.085137 -1.470598
1     B  2.327219  0.430793  0.432316 -0.980011 -0.631965 -1.611977
2     C  0.577442 -0.124758  0.978948  1.594922 -1.201945  0.392977
3     D -1.376369  1.054346 -0.038853  0.680286  1.329175  2.009461
4     E  1.283450 -1.758254  0.614306  1.516358 -0.195977  1.320381

In [ ]:
dframe

          U         V         W         X         Y       new
A -1.249278 -0.260331  0.383793 -0.385461 -1.085137 -1.470598
B  2.327219  0.430793  0.432316 -0.980011 -0.631965 -1.611977
C  0.577442 -0.124758  0.978948  1.594922 -1.201945  0.392977
D -1.376369  1.054346 -0.038853  0.680286  1.329175  2.009461
E  1.283450 -1.758254  0.614306  1.516358 -0.195977  1.320381

In [ ]:
dframe[(dframe['U']>0) | (dframe['W']>0)]
# U column and W column rendula yedhavadhu greater than 0 irundha , andha frame output varum

          U         V         W         X         Y       new
A -1.249278 -0.260331  0.383793 -0.385461 -1.085137 -1.470598
B  2.327219  0.430793  0.432316 -0.980011 -0.631965 -1.611977
C  0.577442 -0.124758  0.978948  1.594922 -1.201945  0.392977
E  1.283450 -1.758254  0.614306  1.516358 -0.195977  1.320381

In [ ]:
dframe[(dframe['U']>0) & (dframe['W']>0)]
# U column and W column rendume greater than 0 irundha , andha frame output varum

          U         V         W         X         Y       new
B  2.327219  0.430793  0.432316 -0.980011 -0.631965 -1.611977
C  0.577442 -0.124758  0.978948  1.594922 -1.201945  0.392977
E  1.283450 -1.758254  0.614306  1.516358 -0.195977  1.320381

In [ ]:
# df andra dataframe la 50000 ku adhigama salary yaru vangurangalo kadupudikalam
df['Salary']>50000

0    False
1     True
2    False
3     True
4     True
5    False
Name: Salary, dtype: bool

In [ ]:
df[df['Salary']>50000]  # ivana moonu peru 50000 ku mela salary vanguranga

       Name  Age  Salary
1       Sam   30   60000
3       RRR   67   99000
4  Samantha   89   89000

In [ ]:
#highest salary yaru vangurangalo kanudpidukalam
df['Salary'].max()   # highest salary 99000 ,
#avangaloda peru ipo nama kandupidukanum

99000

In [ ]:
df[df['Salary'].max() == df['Salary']] # yengalam adhigama salary match agudho , andha person oda peru age salary yellame varum

  Name  Age  Salary
3  RRR   67   99000

In [ ]:
df[df['Salary'].min() == df['Salary']] # yengalam kammiana salary match agudho , andha person oda peru age salary yellame varum

     Name  Age  Salary
5  Ramesh   78   25000

In [ ]:
# oldest person yaro kandupudikalam
df[df['Age'].max() == df['Age']]

       Name  Age  Salary
4  Samantha   89   89000

In [ ]:
# youngest person yaro kandupudikalam
df[df['Age'].min() == df['Age']]

       Name  Age  Salary
2  Bahubali   22   45000